* {
    margin: 0;
    box-sizing: border-box;
}
  
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
:root {
  --bg: rgb(137, 144, 158);
  --bg-input: #141419;
}


:root{
  --bg:linear-gradient(to  left, #363690 41%, #3ec7f5 100%);
 
  --bg-input: #e1e1ed;
}


/* light mode edited */

.light-mode {
  --bg: linear-gradient(to left, #2a2d30, #080a0c);
  --bg-input: #fcf9f9;
}

body {
  background: var(--bg);
  color: var(--color-text);
  /*font-weight: 500;
  display: flex;*/
}

.switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch+label {
  padding: 2px;
  width: 52px;
  height: 27px;
  background-color: var(--color-border), rgba(23, 21, 21, 0.3);
  border-radius: 100px;
}

.switch+label:before,
.switch+label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.switch+label:before {
  right: 1px;
  background-color: var(--bg-input);
  border-radius: 60px;
  transition: all 0.4s;
}

.switch+label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch:checked+label:before {
  background-color: #f3eff5;
}

.switch:checked+label:after {
  transform: translateX(30px);
}

.row {
    display: flex;
}
  
.navbar{
    position: absolute;
    left: 700px;
    top: 30px;
    
}

/* Create two equal columns that sits next to each other */
.column1 ,.column2 {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.column1 {
    text-align: center;
    padding-top: 150px;
}
  
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

a {

padding: 8px;
color: black;
text-decoration: none;
font-size: 20px;
}



.footer {
    height: 50px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    background-image: linear-gradient( 68.4deg,  rgba(99,251,215,1) -0.4%, rgba(5,222,250,1) 100.2% );

}

.lg {
    position: absolute;
    left: 70px;
    top: 10px;
    
}
img {
    border-radius: 10px;
}

.Owner{
    position: absolute;
    left: 250px;
    bottom: 15px;
    color: black;
}

.sm {
    position: absolute;
    left: 1100px;
    bottom: 6px;
    color: black;
}

.sm a {
    color: black;
}

.github :hover {
    color: rgb(6, 56, 6);
}

.linkedin :hover {
    color: rgb(8, 8, 52);
}

button {
    color: white;
    border-radius: 12px;
    background-color: rgb(4, 78, 38);
    padding: 10px;
}

.button-cls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 250px;
    width: 250px;
}

.btn-primary1 {
    color: #fff;
    background-color: rgb(41, 107, 72);
    border-color: rgb(10, 73, 38);
}

.btn-primary1:hover {
    color: #fff;
    background-color: #031703;
    border-color: #285e8e;
}

.btn-primary2 {
    color: #fff;
    background-color: rgb(41, 107, 72);
    border-color: rgb(10, 73, 38);
}

.btn-primary2:hover {
    color: #fff;
    background-color: #031703;
    border-color: #285e8e;
}

@media only screen and (max-width: 600px) {
    /* Adjust styles for small screens here */

    .row {
      flex-direction: column;
    }

    .navbar {
      left: 0;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .logo {
      left: 85%;
    }

    .column1,
    .column2 {
      flex: 100%;
    }

    .button-cls {
      margin-left: 0;
      width: 100%;
    }

    .footer {
      position: relative;
      height: 70px;
      display: flex;
      bottom: 0;
    }

    .Owner{
        text-align:left;
        justify-content: center;
    }
    .sm {
      text-align:left;
      left: 0;
      width: 100%;
      padding-left: 5px;
    }
  }

