
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #20113b;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding: 25px 12.5%; /*px-top,bottom, responsive-left,right*/
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.navbar a{
    position:relative;
    font-size: 16px;
    color:#e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{
    content: ''; /*content property used to add images or extra text that is not a part of html*/
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after{
    transform: translateY(0px);
    opacity: 1;
}

.search-bar{
    width:250px;
    height:45px;
    background-color: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input{
    width:100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

.search-bar input::placeholder{
    color:#e4e4e4;
}

.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i{
    font-size: 22px;
    color: #e4e4e4;
}

.background{
    width: 100%;
    height: 100vh;
    background: url('background_image.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(0px);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    height: 550px;
    background:rgba(32, 11, 68, 0.8) no-repeat;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow:2cm #20113b;
    
}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: url('student.png') no-repeat;
    background-size: 60%;
    background-position: center;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo{
    font-size: 28px;
}

.text-sci h2{
    font-size: 35px;
    line-height: 1;
}

.text-sci h2 span{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i{
    font-size: 22px;
    color:#e4e4e4;
    margin-right: 10px;
    transition: .4s ease;
}

.social-icons a:hover i{
    transform: scale(1.5);
}

.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 42%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logreg-box .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#200b4c;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    color: #e4e4e4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logreg-box .form-box.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;

}

.logreg-box.active .form-box.login{
    transform: translateX(430px);
    transition-delay: 0s;
}

.logreg-box .form-box.register{
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0;
}

.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: .7s;
}

.form-box h2{
    font-size: 32px;
   text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid ghostwhite;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color:#e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
} 

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forgot{
   font-size: 14.5px;
   font-weight: 500;
   margin: -15px 0 15px; 
   display: flex;
   justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #e4e4e4; /*This property changes the generic blue tickbox to white*/
    margin-right: 3px;
}

.remember-forgot a{
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width:100%;
    height:45px;
    background:rgb(182, 43, 110);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.form-box .login-register{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a{
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover{
    text-decoration: underline;
}